@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

.transform-minus-16 {
  transform: translateX(-16rem);
}
.transform-plus-16 {
  transform: translateX(16rem);
}